
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 40.8rem;
}.and-happy-new-year-1gg {
  height: 4.4rem;
  font-weight: 500;
  font-family: Brygada 1918, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.2125;
  color: rgba(7, 2, 17, 0.8000000119);
}
