
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17rem;
}.merry-G4t {
  width: 100%;
  text-align: center;
  font-size: 4.8rem;
  line-height: 1.2125;
  font-family: Brygada 1918, 'Source Sans Pro';
  white-space: nowrap;
  height: 5.9rem;
  font-weight: 700;
  color: rgba(7, 2, 17, 0.8999999762);
}
